h1{
    text-align: center;
}
#box{
    text-align: center;
    margin: 20px auto; 
    padding: 10px;
    width: 400px;
    opacity: 0.5;
}
#in{
    border: solid;
    padding: auto;
    margin: 25px;
    background: rgba(255, 255, 255, 0.3);
    border-radius:10px ;
    transition: 0.3s ease; 
}
#boxnum{
    margin-bottom:25px ;
}
button{
    padding: 30px;
    margin: 5px;
    border: 1px solid rgba(6, 6, 6);
    border-radius: 10px;
    border-width: 3px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
    transition: 0.3s ease; 
}
body{
    background-image: url('wllp.jpg');
    font-family: 'Space Mono', monospace;
}
button:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transform: scale(1.05); 
}
#in:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transform: scale(1.05); 
}